===================================================
====================== PTree ======================
===================================================

avgCompatibilityThreshold: 0.25
   compatibilityThreshold: 0.1
            enveloppeSize: 5
      similarityThreshold: 0.5
         simpleNewSpecies: true
          winningPathOnly: false

===================================================
