=====================================================
======================= PTree =======================
=====================================================

 avgCompatibilityThreshold: 0.25
    compatibilityThreshold: 0.1
             enveloppeSize: 5
          minNodeEnveloppe: 0
           minNodeSurvival: 0
             showNodeNames: true
       similarityThreshold: 0.5
          simpleNewSpecies: true
    speciesDetailVerbosity: 1
    stillbornTrimmingDelay: 4
 stillbornTrimmingMinDelay: 200
   stillbornTrimmingPeriod: 100
stillbornTrimmingThreshold: 0.25
         survivorNodesOnly: false

=====================================================
