=============================================
================== PViewer ==================
=============================================

            coreConfig: ./configs/PTree.config
      minNodeEnveloppe: 0
       minNodeSurvival: 0
         showNodeNames: true
speciesDetailVerbosity: 1
     survivorNodesOnly: false

=============================================
